d#This is the ignore files for github
#
#@author Yucheng
#@verision 1
#@copy Yummet.inc
############################3

#================java transient files==================#
*.class
*.classpath
*.project

#================Mobile Tools for Java (J2ME)===============#
.mtj.tmp/

#======================Package Files========================#
*.jar
*.war
*.ear
*.log

#======================Ignore independent eclipse settings====================#
RemoteSystemsTempFiles/
/**/DB/*
.settings/
.metadata/
