<div data-ng-app="profileApp" data-ng-init="init()">
	<div  data-ng-controller="profileController">
		<table data-ng-table class="table">
			<tr data-ng-model="user">
				<td data-title="'alias'">Alias: {{user.alias}}</td>
				<td data-title="'Firstame'">First Name: {{user.firstName}}</td>
				<td data-title="'Lastame'">Last Name: {{user.lastName}}</td>
				<td data-title="'Phone'">Phone: {{user.phone}}</td>
				<td data-title="'activeScore'">ActiveScore: {{user.activeScore}}</td>
				<td data-title="'email'">Email: {{user.email}}</td>
			</tr>
		</table>
	</div>
</div>
