<div class="p1-hero-search-form hide-sm">
	<div class="col-sm-12">
		<form id="search_form" method="get" data-reactid=".0">
			<div class="search-form-input-wrapper" data-reactid=".0.0">
				<div class="location-wrapper" data-reactid=".0.0.0">
					<span class="input-placeholder-group" data-reactid=".0.0.0.0"><label
						class="input-placeholder-label screen-reader-only" for="location"
						data-reactid=".0.0.0.0.0">Search by city, address,
							landmark...</label><input type="text"
						class="form-inline location input-large input-contrast"
						aria-autocomplete="both" aria-owns="menu-1" autocomplete="off"
						value="" placeholder="Search by city, address, landmark..."
						name="location" id="location" data-reactid=".0.0.0.0.1"></span>
					<p id="enter_location_error_message" class="bad hide"
						data-reactid=".0.0.0.1">Please set location</p>
				</div>
				<span class="input-placeholder-group" data-reactid=".0.0.1"><label
					class="input-placeholder-label screen-reader-only" for="checkin"
					data-reactid=".0.0.1.0">Check In</label><input type="text"
					id="checkin"
					class="form-inline checkin search-option input-large input-contrast input-underline ui-datepicker-target"
					name="checkin" placeholder="Check In" data-reactid=".0.0.1.1"></span><span
					class="input-placeholder-group" data-reactid=".0.0.2"><label
					class="input-placeholder-label screen-reader-only" for="checkout"
					data-reactid=".0.0.2.0">Check Out</label><input type="text"
					id="checkout"
					class="form-inline checkout search-option input-large input-contrast input-underline ui-datepicker-target"
					name="checkout" placeholder="Check Out" data-reactid=".0.0.2.1"></span>
				<div class="select select-large" data-reactid=".0.0.3">
					<label for="guests" class="screen-reader-only"
						data-reactid=".0.0.3.0">Number of guests</label><select
						id="guests" name="guests" data-reactid=".0.0.3.1"><option
							value="1">1 Guest</option>
						<option value="2">2 Guests</option>
						<option value="3">3 Guests</option>
						<option value="4">4 Guests</option>
						<option value="5">5 Guests</option>
						<option value="6">6 Guests</option>
						<option value="7">7 Guests</option>
						<option value="8">8 Guests</option>
						<option value="9">9 Guests</option>
						<option value="10">10 Guests</option>
						<option value="11">11 Guests</option>
						<option value="12">12 Guests</option>
						<option value="13">13 Guests</option>
						<option value="14">14 Guests</option>
						<option value="15">15 Guests</option>
						<option value="16">16+ Guests</option></select>
				</div>
				<div class="menu hide hide" id="menu-1" aria-expanded="false"
					aria-role="listbox" data-reactid=".0.0.4">
					<div class="menu-section " data-reactid=".0.0.4.0"></div>
				</div>
			</div>
			<input type="hidden" name="source" value="bb" data-reactid=".0.1">
			<button type="submit"
				class="search-button form-inline btn btn-primary btn-large"
				id="submit_location" data-reactid=".0.2">Search</button>
		</form>
	</div>
</div>