<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
 		   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<!-- ====================Spring Security Configuration @author Yucheng Wang=================== -->
	
	<http auto-config="false" use-expressions="true" entry-point-ref="LoginUrlAuthenticationEntryPoint">
		<csrf disabled="true"/>
		<intercept-url pattern="/" access="permitAll" requires-channel="any"/>
		<intercept-url pattern="/resources/**" access="permitAll" requires-channel="any"/>
		<intercept-url pattern="/views/**" access="permitAll" requires-channel="any"/>
		<intercept-url pattern="/assets/**" access="permitAll" requires-channel="any"/>
		<intercept-url pattern="/service/login"   access="permitAll" requires-channel="any"/>
		<intercept-url pattern="/service/logout"  access="permitAll" method="POST" requires-channel="any"/>
		<intercept-url pattern="/service/signup"  access="permitAll" method="POST" requires-channel="any"/>
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" requires-channel="any"/>
	    <custom-filter position="CSRF_FILTER" ref="defaultCSRFFilter" />
		<custom-filter position="FORM_LOGIN_FILTER" ref="defaultLoginFilter" />
		<custom-filter position="BASIC_AUTH_FILTER" ref="defaultAuthenticationFilter" />
	</http>
	
	<beans:bean id="LoginUrlAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:constructor-arg name="loginFormUrl" value="/service/login" />
	</beans:bean>
	
	<beans:bean id="userDetailsService" class="com.yummet.web.security.UserDetailsService">
		<beans:property name="userProvider" ref="userProvider" />
	</beans:bean>
	
	<beans:bean id="tokenAuthenticationService" class="com.yummet.web.security.TokenAuthenticationService">
		<beans:constructor-arg name="secret" value="yuchengYummet"/>
	</beans:bean>
	
	<authentication-manager alias="authenticationManager">
    	<authentication-provider user-service-ref='userDetailsService'/>
	</authentication-manager>
	
	<beans:bean id="defaultCSRFFilter" class="com.yummet.web.security.StatelessXSRFFilter">
		<!-- <beans:constructor-arg index="0" ref="null"/> -->
	</beans:bean>
	
	<beans:bean id="defaultLoginFilter" class="com.yummet.web.security.StatelessLoginFilter">
		<beans:constructor-arg index="0" value="/service/login"/>
		<beans:constructor-arg index="1" ref="tokenAuthenticationService"/>
		<beans:constructor-arg index="2" ref="userDetailsService"/>
		<beans:constructor-arg index="3" ref="authenticationManager"/> 
	</beans:bean>
	
	<beans:bean id="defaultAuthenticationFilter" class="com.yummet.web.security.StatelessAuthenticationFilter">
		<beans:constructor-arg ref="tokenAuthenticationService"/>
	</beans:bean> 
	
</beans:beans>
