<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
   <display-name>Amher Web Application</display-name>
  
   <servlet>
      <servlet-name>Hello Amher</servlet-name>
      <servlet-class>com.amher.appserver.core.entry.HelloAmherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>Hello AMher</servlet-name>
      <url-pattern>/hello/*</url-pattern>
   </servlet-mapping>
   
</web-app>
