<div class="">
	<form class="form" data-ng-submit="createaskpost()">
		<div class="form-group">
			<label for="createpostname">Subject</label> 
			<input type="text" data-ng-model="askpost.postsubject" name="askpostsubject" id="askpostsubject" class="form-control" placeholder="E.g. “Delicious to Make" >
		</div>
		<div class="form-group">
			<label for="createpostdescription">Description</label>
			<textarea data-ng-model="askpost.postdescription" id="askpostdescription" class="form-control" placeholder="how's your wonderful?" name="description"></textarea>
		</div>
		<div class="form-group">
			 <div ngf-drop ngf-select ng-model="askpost.postimage" class="dropbox"  ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true" accept="image/*,application/pdf"><span>drop file here</span></div>
    	     <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
			 <p class="help-block">We highly recommend high-resolution pictures.</p>
		</div>
		<div class="form-group">
			<label for="postEditCategory">Category</label> 
			<select class="form-control" data-ng-model="askpost.postcategory" name="askpostcategory">
				<option value="chinanorth">Chinese North</option>
				<option value="chinasouth">Chinese South</option>
				<option value="americaneast">American East</option>
				<option value="americanwest">American West</option>
			</select>
		</div>
		<div class="form-group">
			<div class="btn-group" dropdown>
				<button type="button" class="btn btn-danger">Map</button>
				<button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
				<span class="caret"></span> <span class="sr-only">Split button!</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="" data-ng-click="askpost.usemap = true">On</a></li>
					<li><a href="" data-ng-click="askpost.usemap = false">Off</a></li>
				</ul>
			</div>
		</div>
		<div class="form-group">
			<label for="askpostemail">Friends Email</label> <a href="" class=""> Learn more </a> 
			<input type="email" data-ng-model="askpost.email" class="form-control" id="askpostmail" placeholder="wonderful@yummet.com">
		</div>
		<button type="submit" class="btn">Send invitation</button> <!-- To do here -->
		<div class="form-group">
			<div class="btn-group" dropdown>
				<button type="button" class="btn btn-danger">Members can invite others?</button>
				<button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
				<span class="caret"></span> 
				<span class="sr-only">Split button!</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="" data-ng-click="askpost.couldinvite = true">Yes</a></li>
					<li><a href="" data-ng-click="askpost.couldinvite = false">No</a></li>
				</ul>
			</div>
		</div>
		<div class="form-group">
			  <label for="askpoststartdate">start date: </label>
              <input type="text" id="askpoststartdate" class="form-control" datepicker-popup ng-model="askpost.startdate" is-open="common.startdateopened"  datepicker-options="common.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openstartdate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
		</div>
		<div class="form-group">
			 <label for="askpostenddate">end date: </label>
              <input type="text" id="askpostenddate" class="form-control" datepicker-popup ng-model="askpost.enddate" is-open="common.enddateopened"  datepicker-options="common.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openenddate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
		</div>
		<div class="form-group">
		 	 <button class="btn" data-ng-click="setCollapse(true)" >Cancel</button>
			 <button type="submit" class="btn">Create</button>
		</div>
	</form>
</div>
