<div data-ng-app="postApp" data-ng-init="init()">
	<div class="chef-post-container" data-ng-controller="postAppController">
		<div class="">
			<h5>Wonderful Detail</h5>
			<div>
				<div class="ibox-content no-padding border-left-right">
					<img alt="image" class="img-responsive"
						src="/as/css/img/images.jpg">
				</div>
				<div class="ibox-content profile-content">
					<h4>
						<strong>Yucheng Wang</strong>
					</h4>
					<div class="row m-t-lg">
						<div class="col-md-4">
							<span class="bar" style="display: none;">5,3,9,6,5,9,7,3,5,2</span>
							<svg class="peity" height="16" width="32">
								<rect fill="#1ab394" x="0" y="7.111111111111111" width="2.3"
									height="8.88888888888889"></rect>
								<rect fill="#d7d7d7" x="3.3" y="10.666666666666668" width="2.3"
									height="5.333333333333333"></rect>
								<rect fill="#1ab394" x="6.6" y="0" width="2.3" height="16"></rect>
								<rect fill="#d7d7d7" x="9.899999999999999" y="5.333333333333334"
									width="2.3" height="10.666666666666666"></rect>
								<rect fill="#1ab394" x="13.2" y="7.111111111111111" width="2.3"
									height="8.88888888888889"></rect>
								<rect fill="#d7d7d7" x="16.5" y="0" width="2.3" height="16"></rect>
								<rect fill="#1ab394" x="19.799999999999997"
									y="3.555555555555557" width="2.3" height="12.444444444444443"></rect>
								<rect fill="#d7d7d7" x="23.099999999999998"
									y="10.666666666666668" width="2.3" height="5.333333333333333"></rect>
								<rect fill="#1ab394" x="26.4" y="7.111111111111111" width="2.3"
									height="8.88888888888889"></rect>
								<rect fill="#d7d7d7" x="29.7" y="12.444444444444445" width="2.3"
									height="3.5555555555555554"></rect></svg>
							<h5>
								<strong>169</strong> Posts
							</h5>
						</div>
						<div class="col-md-4">
							<span class="line" style="display: none;">5,3,9,6,5,9,7,3,5,2</span>
							<svg class="peity" height="16" width="32">
								<polygon fill="#1ab394"
									points="0 15 0 7.166666666666666 3.5555555555555554 10.5 7.111111111111111 0.5 10.666666666666666 5.5 14.222222222222221 7.166666666666666 17.77777777777778 0.5 21.333333333333332 3.833333333333332 24.888888888888886 10.5 28.444444444444443 7.166666666666666 32 12.166666666666666 32 15"></polygon>
								<polyline fill="transparent"
									points="0 7.166666666666666 3.5555555555555554 10.5 7.111111111111111 0.5 10.666666666666666 5.5 14.222222222222221 7.166666666666666 17.77777777777778 0.5 21.333333333333332 3.833333333333332 24.888888888888886 10.5 28.444444444444443 7.166666666666666 32 12.166666666666666"
									stroke="#169c81" stroke-width="1" stroke-linecap="square"></polyline></svg>
							<h5>
								<strong>28</strong> Partner
							</h5>
						</div>
						<div class="col-md-4">
							<span class="bar" style="display: none;">5,3,2,-1,-3,-2,2,3,5,2</span>
							<svg class="peity" height="16" width="32">
								<rect fill="#1ab394" x="0" y="0" width="2.3" height="10"></rect>
								<rect fill="#d7d7d7" x="3.3" y="4" width="2.3" height="6"></rect>
								<rect fill="#1ab394" x="6.6" y="6" width="2.3" height="4"></rect>
								<rect fill="#d7d7d7" x="9.899999999999999" y="10" width="2.3"
									height="2"></rect>
								<rect fill="#1ab394" x="13.2" y="10" width="2.3" height="6"></rect>
								<rect fill="#d7d7d7" x="16.5" y="10" width="2.3" height="4"></rect>
								<rect fill="#1ab394" x="19.799999999999997" y="6" width="2.3"
									height="4"></rect>
								<rect fill="#d7d7d7" x="23.099999999999998" y="4" width="2.3"
									height="6"></rect>
								<rect fill="#1ab394" x="26.4" y="0" width="2.3" height="10"></rect>
								<rect fill="#d7d7d7" x="29.7" y="6" width="2.3" height="4"></rect></svg>
							<h5>
								<strong>240</strong> Followers
							</h5>
						</div>
					</div>
					<p>
						<i class=""> </i> Avaiable Date: 06/07/2015 - 06/08/2015
					</p>
					<h5>Description </h5>
					<div class="well wordwrap"> This is made by whole green vegs and home-made
					secret saurce</div>
				</div>
			</div>
		</div>
		<div>
			<div class="">
				<div class="">
					<h5>Comments:</h5>
				</div>
				<div class="">
					<div>
						<div class="">
							<div class="feed-element">
								<a href="#" class="pull-left"> 
								<img alt="image" class="imagecircle" src="/as/css/img/a1.jpg">
								</a>
								<div class="media-body ">
									<small class="pull-right text-navy">1m ago</small> <strong>Sandra
										Momot</strong> wrote:
									<div class="well wordwrap">Lorem Ipsum is simply dummy text of the
										printing and typesetting industry. Lorem Ipsum has been the
										industry's standard dummy text ever since the 1500s. Over the
										years, sometimes by accident, sometimes on purpose (injected
										humour and the like).</div>
									<div class="pull-right">
										<a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i>
											Like </a> <a class="btn btn-xs btn-danger"><i
											class="fa fa-heart"></i> Love</a>
									</div>
								</div>
							</div>
							<div class="feed-element">
								<a href="#" class="pull-left"> 
								<img alt="image" class="imagecircle" src="/as/css/img/profile.jpg">
								</a>
								<div class="media-body ">
									<small class="pull-right">2h ago</small> 
									<strong>Kim Smith</strong> wrotes:
									<div class="well wordwrap">Lorem Ipsum is simply dummy text of the
										printing and typesetting industry. Lorem Ipsum has been the
										industry's standard dummy text ever since the 1500s. Over the
										years, sometimes by accident, sometimes on purpose (injected
										humour and the like).</div>
									<div class="pull-right">
										<a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i>
											Like </a> <a class="btn btn-xs btn-danger"><i
											class="fa fa-heart"></i> Love</a>
									</div>
								</div>
							</div>
						</div>
						<button class="btn btn-primary btn-block m">
							<i class="fa fa-arrow-down"></i> Show More
						</button>
					</div>
				</div>
			</div>
			<ul class="col-lg1-1">
				<li data-ng-repeat="post in posts">
					<div class="col-xs-1">
						<!-- here should be the post comment body -->
						<span class="ppp">#{{post.subject}} - {{post.text}}</span>
					</div>
					<div class="col-sm-offset-3">
						<div
							data-ng-include="'/rs/angular/app/components/post/postrecipe.html'"></div>
						<div
							data-ng-include="'/rs/angular/app/components/post/postcomment.html'"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
