<!-- author: yucheng wang @since 1 -->
<div data-ng-app="posthometoolbarApp">
	<div class="posthometoolbarAppController">
		<form class="form">
			<div class="form-group">
				<div class="">
					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="Search for..."> <span
							class="input-group-btn">
							<button class="btn btn-default" type="button">Go!</button>
						</span>
					</div>
					<span>
						<a href="" class="external learnMore"> Learn more </a>
					</span>
				</div>
				<!--  <div class="">
					<p class="input-group">
						<input type="text" class="form-control"
							datepicker-popup="{{format}}" ng-model="dt" is-open="opened"
							min-date="minDate" max-date="'2015-06-22'"
							datepicker-options="dateOptions"
							date-disabled="disabled(date, mode)" ng-required="true"
							close-text="Close" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="open($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
				<div class="">
					<p class="input-group">
						<input type="date" class="form-control" datepicker-popup
							ng-model="dt" is-open="opened" min-date="minDate"
							max-date="'2015-06-22'" datepicker-options="dateOptions"
							date-disabled="disabled(date, mode)" ng-required="true"
							close-text="Close" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="open($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div> -->
			</div>
		</form>
	</div>
</div>
