<div class="">
	<form class="form">
		<div class="form-group">
			<label for="createpostname">Subject</label> <input type="text"
				name="name" id="createpostname" class="form-control"
				placeholder="E.g. “Delicious to Make" value="">
		</div>
		<div class="form-group">
			<label for="createpostdescription">Description</label>
			<textarea id="postEditDescription" class="form-control"
				placeholder="how's your wonderful?" name="description"></textarea>
		</div>
		<div class="form-group">
			<label for="exampleInputFile">Upload Image</label> <input type="file"
				id="exampleInputFile">
			<p class="help-block">We highly recommend high-resolution
				pictures.</p>
		</div>
		<div class="form-group">
			<label for="postEditCategory">Category</label> <select
				class="form-control" name="category">
				<option value="other">Chinese North</option>
				<option value="animals">Chinese South</option>
				<option value="architecture">American East</option>
				<option value="art">American West</option>
			</select>
		</div>
		<div class="form-group">
			<div class="btn-group" dropdown>
				<button type="button" class="btn btn-danger">Map</button>
				<button type="button" class="btn btn-danger dropdown-toggle"
					dropdown-toggle>
					<span class="caret"></span> <span class="sr-only">Split
						button!</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">On</a></li>
					<li><a href="#">Off</a></li>
				</ul>
			</div>
		</div>
		<div class="form-group">
			<div class="btn-group" dropdown>
				<button type="button" class="btn btn-danger">Keep it
					secret?</button>
				<button type="button" class="btn btn-danger dropdown-toggle"
					dropdown-toggle>
					<span class="caret"></span> <span class="sr-only">Split
						button!</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Yes</a></li>
					<li><a href="#">No</a></li>
				</ul>
			</div>
			<a
				href="https://www.pinterest.com/_/_/help/entries/22277603/?source=secret_create"
				class="external learnMore"> Learn more </a>
		</div>
		<div class="form-group">
			<label for="parnteremail">Partners Email</label> <a href="" class=""> Learn more </a> 
			<input type="email" class="form-control" id="partneremail" placeholder="wonderful@yummet.com">
		</div>
		<button type="submit" class="btn">Send invitation</button>
		<div class="form-group">
			<div class="btn-group" dropdown>
				<button type="button" class="btn btn-danger">Members can
					invite others?</button>
				<button type="button" class="btn btn-danger dropdown-toggle"
					dropdown-toggle>
					<span class="caret"></span> <span class="sr-only">Split
						button!</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Yes</a></li>
					<li><a href="#">No</a></li>
				</ul>
			</div>
		</div>
		<div class="form-group">
		 	 <button type="submit" class="btn">Cancel</button>
			 <button type="submit" class="btn">Create</button>
		</div>
	</form>
</div>
