<!--  this is a static html file that used for introducing what we are doing, need to angularize -->
<div id="services" class="content-section-b">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">
					Death to the solid restuarant and hungry:<br> Powered by cloud
				</h2>
				<p class="lead">
					Become one Yummet today, Open your own business and make money today.
				</p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6">
				<img class="img-responsive" src="/as/css/img/ipad.png" alt="">
			</div>
		</div>
	</div>
	<!-- /.container -->

</div>
<!-- /.content-section-a -->